USE [master]
GO
/****** Object:  Database [GESTIONRL]    Script Date: 27/09/2023 10:17:08 ******/
CREATE DATABASE [GESTIONRL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTIONRL', FILENAME = N'D:\Microsoft SQL Server\Data\GESTIONRL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTIONRL_log', FILENAME = N'D:\Microsoft SQL Server\Data\GESTIONRL_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTIONRL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTIONRL]
GO
/****** Object:  User [UGPN\unebreda]    Script Date: 27/09/2023 10:17:08 ******/
CREATE USER [UGPN\unebreda] FOR LOGIN [UGPN\unebreda] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UGPN\sgaitan]    Script Date: 27/09/2023 10:17:08 ******/
CREATE USER [UGPN\sgaitan] FOR LOGIN [UGPN\sgaitan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UGPN\gtarrie]    Script Date: 27/09/2023 10:17:08 ******/
CREATE USER [UGPN\gtarrie] FOR LOGIN [UGPN\gtarrie] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GGCHADMIN]    Script Date: 27/09/2023 10:17:08 ******/
CREATE USER [GGCHADMIN] FOR LOGIN [GGCHADMIN] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [UGPN\unebreda]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UGPN\unebreda]
GO
ALTER ROLE [db_owner] ADD MEMBER [UGPN\sgaitan]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UGPN\sgaitan]
GO
ALTER ROLE [db_datareader] ADD MEMBER [UGPN\gtarrie]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [UGPN\gtarrie]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/09/2023 10:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreActor] [nvarchar](max) NOT NULL,
	[MostrarOrden] [int] NOT NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asunto]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asunto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreAsunto] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Asunto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttFile]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Filedb] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AttFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cct]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Convenio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gremio]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gremio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreGremio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Gremio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Legajo]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Legajo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [int] NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[AccionUno] [nvarchar](max) NULL,
	[AccionDos] [nvarchar](max) NULL,
	[AccionTres] [nvarchar](max) NULL,
	[CctId] [int] NOT NULL,
	[SectorId] [int] NOT NULL,
	[RolSindicalId] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[UoId] [int] NOT NULL,
	[Sede] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Legajo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LugarTrabajo]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LugarTrabajo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreLugarTrabajo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LugarTrabajo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolSindical]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolSindical](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreRolSindical] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RolSindical] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sector]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreSector] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[DescripcionTarea] [nvarchar](max) NOT NULL,
	[Acciones] [nvarchar](max) NOT NULL,
	[FechaCierre] [datetime2](7) NULL,
	[LtId] [int] NOT NULL,
	[AsuntoId] [int] NOT NULL,
	[GremioId] [int] NOT NULL,
	[EstadoId] [int] NOT NULL,
	[LegajoId] [int] NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uo]    Script Date: 27/09/2023 10:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Uo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230620151706_MigCreateTableActor', N'7.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230620235415_MigCreateTablesLegajosRelationships', N'7.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230621000221_MigCreateTablesLegajosRelationships2', N'7.0.7')
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([Id], [NombreActor], [MostrarOrden]) VALUES (18, N'DIRECTORIO', 1)
INSERT [dbo].[Actor] ([Id], [NombreActor], [MostrarOrden]) VALUES (19, N'DIRECTORIO/GREMIO', 2)
INSERT [dbo].[Actor] ([Id], [NombreActor], [MostrarOrden]) VALUES (20, N'GERENCIA', 3)
SET IDENTITY_INSERT [dbo].[Actor] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'05bce05e-059a-4513-901c-7d8d21db5f7e', N'Usuario', N'USUARIO', N'57be6ae6-1abb-49c9-94c1-185f8003b471')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'33f767cf-ff62-4f86-8a15-51f1b9f8f998', N'Administrador', N'ADMINISTRADOR', N'14372fe7-739b-43ab-a452-12a30e33c57d')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'91c48822-ce0a-41ae-88c0-c5d344ca2bec', N'Admin', N'ADMIN', N'7912cbb4-c123-485e-8c8a-41629f0d5552')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'529b353c-78ec-4591-ab78-c74298724817', N'05bce05e-059a-4513-901c-7d8d21db5f7e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'aa5ca8a7-a837-4cd9-8e4a-4450dd6141ff', N'05bce05e-059a-4513-901c-7d8d21db5f7e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'78bcff9e-c6de-45ac-b038-2d6bae77a3fa', N'33f767cf-ff62-4f86-8a15-51f1b9f8f998')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'529b353c-78ec-4591-ab78-c74298724817', N'unebreda', N'UNEBREDA', NULL, NULL, 0, N'AQAAAAEAACcQAAAAEHfNSilrRzq0QoUdztzZsgWQ8FQxSxLjGcbXfYBZRbEkATLEvZU2z2kQ6O+URwj+zg==', N'YA5M4DWWAWUC3HLM7WNMW6YBWEW2DA7A', N'2bc0d8dc-a91d-4bd7-aae9-11fe6c0bfdcb', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'78bcff9e-c6de-45ac-b038-2d6bae77a3fa', N'sgaitan', N'SGAITAN', NULL, NULL, 0, N'AQAAAAEAACcQAAAAEOo+sA8euTIujacqdJpmA4ATE11DNSnNWg6WXaSYQZasgzgNTYIRR99Fs6+hw24ShA==', N'PRQIXEMDHEB7Q4KTX2J36UZ3DVS23SNI', N'07ca730c-e01c-43fe-8a2a-0379e25e521b', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'aa5ca8a7-a837-4cd9-8e4a-4450dd6141ff', N'gtarrie', N'GTARRIE', NULL, NULL, 0, N'AQAAAAEAACcQAAAAEIjjmysFhI1mzk48FtSDnfqIt2i01LlDXHLvTuZMK3JSe01vuAknT7Cxx3+YubEXhg==', N'HAMXWCQ5QNK6SC3H3LSLNUDOG25MF7R6', N'8852fd0b-aee9-48c5-ada4-d458685f4c81', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Asunto] ON 

INSERT [dbo].[Asunto] ([Id], [NombreAsunto]) VALUES (1, N'ACCESO A PLANTA')
INSERT [dbo].[Asunto] ([Id], [NombreAsunto]) VALUES (2, N'ACCIDENTE DE TRABAJO')
INSERT [dbo].[Asunto] ([Id], [NombreAsunto]) VALUES (3, N'ASAMBLEA')
SET IDENTITY_INSERT [dbo].[Asunto] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (1, N'5')
INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (2, N'6')
INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (3, N'7')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cct] ON 

INSERT [dbo].[Cct] ([Id], [Convenio]) VALUES (1, N'APUAYE')
INSERT [dbo].[Cct] ([Id], [Convenio]) VALUES (2, N'FATLyF')
INSERT [dbo].[Cct] ([Id], [Convenio]) VALUES (3, N'DIRECTORES')
SET IDENTITY_INSERT [dbo].[Cct] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([Id], [NombreEstado]) VALUES (1, N'PENDIENTE')
INSERT [dbo].[Estado] ([Id], [NombreEstado]) VALUES (2, N'EN PROCESO')
INSERT [dbo].[Estado] ([Id], [NombreEstado]) VALUES (3, N'FINALIZADO')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Gremio] ON 

INSERT [dbo].[Gremio] ([Id], [NombreGremio]) VALUES (1, N'APUAYE')
INSERT [dbo].[Gremio] ([Id], [NombreGremio]) VALUES (2, N'ATE')
INSERT [dbo].[Gremio] ([Id], [NombreGremio]) VALUES (3, N'TODOS')
SET IDENTITY_INSERT [dbo].[Gremio] OFF
GO
SET IDENTITY_INSERT [dbo].[Legajo] ON 

INSERT [dbo].[Legajo] ([Id], [Matricula], [Apellido], [Nombre], [AccionUno], [AccionDos], [AccionTres], [CctId], [SectorId], [RolSindicalId], [CategoriaId], [UoId], [Sede]) VALUES (1, 4406, N'CASADO ', N'JORGE AMARO', N'null', N'null', N'null', 1, 12, 16, 35, 3, N'CNAI')
INSERT [dbo].[Legajo] ([Id], [Matricula], [Apellido], [Nombre], [AccionUno], [AccionDos], [AccionTres], [CctId], [SectorId], [RolSindicalId], [CategoriaId], [UoId], [Sede]) VALUES (2, 7200, N'PANTALEONE ', N'GUSTAVO HECTOR', N'', N'', N'', 1, 32, 16, 37, 2, N'SEDE')
INSERT [dbo].[Legajo] ([Id], [Matricula], [Apellido], [Nombre], [AccionUno], [AccionDos], [AccionTres], [CctId], [SectorId], [RolSindicalId], [CategoriaId], [UoId], [Sede]) VALUES (3, 7599, N'GAUTE', N'FABIO SANTOS', N'', N'', N'', 2, 167, 16, 14, 9, N'SEDE')
GO
SET IDENTITY_INSERT [dbo].[Legajo] OFF
GO
SET IDENTITY_INSERT [dbo].[LugarTrabajo] ON 

INSERT [dbo].[LugarTrabajo] ([Id], [NombreLugarTrabajo]) VALUES (1, N'CNAI')
INSERT [dbo].[LugarTrabajo] ([Id], [NombreLugarTrabajo]) VALUES (2, N'CNE')
INSERT [dbo].[LugarTrabajo] ([Id], [NombreLugarTrabajo]) VALUES (3, N'SEDE')
SET IDENTITY_INSERT [dbo].[LugarTrabajo] OFF
GO
SET IDENTITY_INSERT [dbo].[RolSindical] ON 

INSERT [dbo].[RolSindical] ([Id], [NombreRolSindical]) VALUES (1, N'DELEGADO APUAYE')
INSERT [dbo].[RolSindical] ([Id], [NombreRolSindical]) VALUES (2, N'DELEGADO ATE')
INSERT [dbo].[RolSindical] ([Id], [NombreRolSindical]) VALUES (3, N'DELEGADO LyF')
SET IDENTITY_INSERT [dbo].[RolSindical] OFF
GO
SET IDENTITY_INSERT [dbo].[Sector] ON 

INSERT [dbo].[Sector] ([Id], [NombreSector]) VALUES (1, N'COMISION FISCALIZADORA')
INSERT [dbo].[Sector] ([Id], [NombreSector]) VALUES (2, N'DEPARTAMENTO ADMINISTRACION')
INSERT [dbo].[Sector] ([Id], [NombreSector]) VALUES (3, N'DEPARTAMENTO ADMINISTRACION CNA I-II')
GO
SET IDENTITY_INSERT [dbo].[Sector] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([Id], [Fecha], [DescripcionTarea], [Acciones], [FechaCierre], [LtId], [AsuntoId], [GremioId], [EstadoId], [LegajoId]) VALUES (121, CAST(N'2023-02-01T00:00:00.0000000' AS DateTime2), N'Enzo Campagnolli ', N'El 30 de Marzo se termina contrato, ver el tema de reubicarlo, esta en el GSPC, en teoria  Trucchia  hablo con Mariana Chan y existe una posibilidad de que lo transfieran a Relaciones Institucionales. En teoria se lo extiende hasta el 30.06.2023', NULL, 1, 12, 4, 2, 6)
INSERT [dbo].[Tarea] ([Id], [Fecha], [DescripcionTarea], [Acciones], [FechaCierre], [LtId], [AsuntoId], [GremioId], [EstadoId], [LegajoId]) VALUES (122, CAST(N'2022-11-01T00:00:00.0000000' AS DateTime2), N'Caso: Vieiras Salome', N'Solicito la rotación y ya hablo con empleo y desarrollo. El jefe ya envio la NP, con el OK del jefe para realizar la rotación. Estan esperando la respuesta del otro sector', NULL, 1, 26, 4, 2, 6)
INSERT [dbo].[Tarea] ([Id], [Fecha], [DescripcionTarea], [Acciones], [FechaCierre], [LtId], [AsuntoId], [GremioId], [EstadoId], [LegajoId]) VALUES (123, CAST(N'2023-02-01T00:00:00.0000000' AS DateTime2), N'Concursos Internos', N'Sector GSPC, 3 concursos, hablar con Maria y Guille para ver cuando pueden comenzar ( Especialista tratamiento superficies-Especialista sección electrica-Oficial obra civil)', NULL, 1, 8, 4, 2, 6)
GO
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
SET IDENTITY_INSERT [dbo].[Uo] ON 

INSERT [dbo].[Uo] ([Id], [NombreUo]) VALUES (1, N'GAYC')
INSERT [dbo].[Uo] ([Id], [NombreUo]) VALUES (2, N'GAYF')
INSERT [dbo].[Uo] ([Id], [NombreUo]) VALUES (3, N'GCNAI-II')
SET IDENTITY_INSERT [dbo].[Uo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 27/09/2023 10:17:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 27/09/2023 10:17:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_CategoriaId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_CategoriaId] ON [dbo].[Legajo]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_CctId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_CctId] ON [dbo].[Legajo]
(
	[CctId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_RolSindicalId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_RolSindicalId] ON [dbo].[Legajo]
(
	[RolSindicalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_SectorId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_SectorId] ON [dbo].[Legajo]
(
	[SectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_UoId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_UoId] ON [dbo].[Legajo]
(
	[UoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tarea_AsuntoId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Tarea_AsuntoId] ON [dbo].[Tarea]
(
	[AsuntoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tarea_EstadoId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Tarea_EstadoId] ON [dbo].[Tarea]
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tarea_GremioId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Tarea_GremioId] ON [dbo].[Tarea]
(
	[GremioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tarea_LegajoId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Tarea_LegajoId] ON [dbo].[Tarea]
(
	[LegajoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tarea_LtId]    Script Date: 27/09/2023 10:17:10 ******/
CREATE NONCLUSTERED INDEX [IX_Tarea_LtId] ON [dbo].[Tarea]
(
	[LtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Legajo] ADD  DEFAULT ((0)) FOR [CategoriaId]
GO
ALTER TABLE [dbo].[Legajo] ADD  DEFAULT ((0)) FOR [UoId]
GO
ALTER TABLE [dbo].[Legajo] ADD  DEFAULT (N'') FOR [Sede]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Categoria_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Categoria_CategoriaId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Cct_CctId] FOREIGN KEY([CctId])
REFERENCES [dbo].[Cct] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Cct_CctId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_RolSindical_RolSindicalId] FOREIGN KEY([RolSindicalId])
REFERENCES [dbo].[RolSindical] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_RolSindical_RolSindicalId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Sector_SectorId] FOREIGN KEY([SectorId])
REFERENCES [dbo].[Sector] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Sector_SectorId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Uo_UoId] FOREIGN KEY([UoId])
REFERENCES [dbo].[Uo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Uo_UoId]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Asunto_AsuntoId] FOREIGN KEY([AsuntoId])
REFERENCES [dbo].[Asunto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Asunto_AsuntoId]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Estado_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estado] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Estado_EstadoId]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Gremio_GremioId] FOREIGN KEY([GremioId])
REFERENCES [dbo].[Gremio] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Gremio_GremioId]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Legajo_LegajoId] FOREIGN KEY([LegajoId])
REFERENCES [dbo].[Legajo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Legajo_LegajoId]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_LugarTrabajo_LtId] FOREIGN KEY([LtId])
REFERENCES [dbo].[LugarTrabajo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_LugarTrabajo_LtId]
GO
USE [master]
GO
