USE [master]
GO
/****** Object:  Database [GESTIONRL]    Script Date: 20/6/2023 21:37:17 ******/
CREATE DATABASE [GESTIONRL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTIONRL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GESTIONRL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTIONRL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GESTIONRL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTIONRL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTIONRL]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreActor] [nvarchar](max) NOT NULL,
	[MostrarOrden] [int] NOT NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cct]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Convenio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Legajo]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Legajo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [int] NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[AccionUno] [nvarchar](max) NULL,
	[AccionDos] [nvarchar](max) NULL,
	[AccionTres] [nvarchar](max) NULL,
	[CctId] [int] NOT NULL,
	[SectorId] [int] NOT NULL,
	[RolSindicalId] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[UoId] [int] NOT NULL,
 CONSTRAINT [PK_Legajo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolSindical]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolSindical](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreRolSindical] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RolSindical] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sector]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreSector] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uo]    Script Date: 20/6/2023 21:37:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Uo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230620151706_MigCreateTableActor', N'7.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230620235415_MigCreateTablesLegajosRelationships', N'7.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230621000221_MigCreateTablesLegajosRelationships2', N'7.0.7')
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([Id], [NombreActor], [MostrarOrden]) VALUES (18, N'DIRECTORIO', 1)
INSERT [dbo].[Actor] ([Id], [NombreActor], [MostrarOrden]) VALUES (19, N'DIRECTORIO/GREMIO', 2)
INSERT [dbo].[Actor] ([Id], [NombreActor], [MostrarOrden]) VALUES (20, N'GERENCIA', 3)
SET IDENTITY_INSERT [dbo].[Actor] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (1, N'5')
INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (2, N'6')
INSERT [dbo].[Categoria] ([Id], [NombreCategoria]) VALUES (3, N'7')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Cct] ON 

INSERT [dbo].[Cct] ([Id], [Convenio]) VALUES (1, N'APUAYE')
INSERT [dbo].[Cct] ([Id], [Convenio]) VALUES (2, N'FATLyF')
INSERT [dbo].[Cct] ([Id], [Convenio]) VALUES (3, N'DIRECTORES')
SET IDENTITY_INSERT [dbo].[Cct] OFF
GO
SET IDENTITY_INSERT [dbo].[Legajo] ON 

INSERT [dbo].[Legajo] ([Id], [Matricula], [Apellido], [Nombre], [AccionUno], [AccionDos], [AccionTres], [CctId], [SectorId], [RolSindicalId], [CategoriaId], [UoId]) VALUES (1, 4406, N'CASADO ', N'JORGE AMARO', N'null', N'null', N'null', 1, 12, 16, 35, 3)
INSERT [dbo].[Legajo] ([Id], [Matricula], [Apellido], [Nombre], [AccionUno], [AccionDos], [AccionTres], [CctId], [SectorId], [RolSindicalId], [CategoriaId], [UoId]) VALUES (2, 7200, N'PANTALEONE ', N'GUSTAVO HECTOR', N'', N'', N'', 1, 32, 16, 37, 2)
INSERT [dbo].[Legajo] ([Id], [Matricula], [Apellido], [Nombre], [AccionUno], [AccionDos], [AccionTres], [CctId], [SectorId], [RolSindicalId], [CategoriaId], [UoId]) VALUES (3, 7599, N'GAUTE', N'FABIO SANTOS', N'', N'', N'', 2, 167, 16, 14, 9)
GO
SET IDENTITY_INSERT [dbo].[Legajo] OFF
GO
SET IDENTITY_INSERT [dbo].[RolSindical] ON 

INSERT [dbo].[RolSindical] ([Id], [NombreRolSindical]) VALUES (1, N'DELEGADO APUAYE')
INSERT [dbo].[RolSindical] ([Id], [NombreRolSindical]) VALUES (2, N'DELEGADO ATE')
INSERT [dbo].[RolSindical] ([Id], [NombreRolSindical]) VALUES (3, N'DELEGADO LyF')
SET IDENTITY_INSERT [dbo].[RolSindical] OFF
GO
SET IDENTITY_INSERT [dbo].[Sector] ON 

INSERT [dbo].[Sector] ([Id], [NombreSector]) VALUES (1, N'COMISION FISCALIZADORA')
INSERT [dbo].[Sector] ([Id], [NombreSector]) VALUES (2, N'DEPARTAMENTO ADMINISTRACION')
INSERT [dbo].[Sector] ([Id], [NombreSector]) VALUES (3, N'DEPARTAMENTO ADMINISTRACION CNA I-II')
GO
SET IDENTITY_INSERT [dbo].[Sector] OFF
GO
SET IDENTITY_INSERT [dbo].[Uo] ON 

INSERT [dbo].[Uo] ([Id], [NombreUo]) VALUES (1, N'GAYC')
INSERT [dbo].[Uo] ([Id], [NombreUo]) VALUES (2, N'GAYF')
INSERT [dbo].[Uo] ([Id], [NombreUo]) VALUES (3, N'GCNAI-II')
SET IDENTITY_INSERT [dbo].[Uo] OFF
GO
/****** Object:  Index [IX_Legajo_CategoriaId]    Script Date: 20/6/2023 21:37:18 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_CategoriaId] ON [dbo].[Legajo]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_CctId]    Script Date: 20/6/2023 21:37:18 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_CctId] ON [dbo].[Legajo]
(
	[CctId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_RolSindicalId]    Script Date: 20/6/2023 21:37:18 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_RolSindicalId] ON [dbo].[Legajo]
(
	[RolSindicalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_SectorId]    Script Date: 20/6/2023 21:37:18 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_SectorId] ON [dbo].[Legajo]
(
	[SectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Legajo_UoId]    Script Date: 20/6/2023 21:37:18 ******/
CREATE NONCLUSTERED INDEX [IX_Legajo_UoId] ON [dbo].[Legajo]
(
	[UoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Legajo] ADD  DEFAULT ((0)) FOR [CategoriaId]
GO
ALTER TABLE [dbo].[Legajo] ADD  DEFAULT ((0)) FOR [UoId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Categoria_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Categoria_CategoriaId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Cct_CctId] FOREIGN KEY([CctId])
REFERENCES [dbo].[Cct] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Cct_CctId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_RolSindical_RolSindicalId] FOREIGN KEY([RolSindicalId])
REFERENCES [dbo].[RolSindical] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_RolSindical_RolSindicalId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Sector_SectorId] FOREIGN KEY([SectorId])
REFERENCES [dbo].[Sector] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Sector_SectorId]
GO
ALTER TABLE [dbo].[Legajo]  WITH CHECK ADD  CONSTRAINT [FK_Legajo_Uo_UoId] FOREIGN KEY([UoId])
REFERENCES [dbo].[Uo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Legajo] CHECK CONSTRAINT [FK_Legajo_Uo_UoId]
GO
USE [master]
GO
